@import 'variables';

footer {
    display: flex;
    justify-content: space-between;
    padding: 5rem 15rem;
    font-size: 1.3rem;
    .socialMedia {
        display: flex;
        .icon {
            width: 1.8rem;
            height: 1.8rem;
            margin: 0 1rem;
            background-size: cover;
            &:hover{
                cursor: pointer;
                background-size: cover;
            }
            &:nth-child(2) {
                margin-left: 2rem;
            }
            &.facebook {
                width: 0.9rem;
                background: url(../svg/icon_facebook.svg);
                &:hover {
                    background: url(../svg/icon_facebook_hover.svg);
                }
            }
            &.twitter {
                background: url(../svg/icon-twitter.svg);
                &:hover {
                    background: url(../svg/icon-twitter-hover.svg);
                }
            }
            &.instagram {
                background: url(../svg/icon_instagram.svg);
                &:hover {
                    background: url(../svg/icon_instagram-hover.svg);
                }
            }
        }
    }
}