@import 'variables';

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5rem 0;
    font-size: 1.5rem;
    border-bottom: 5px solid $purpleColor;
    
    &--dark {
        background: $darkModeSoft;
    }
    .social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 2.5rem;
        width: 100%;
        
        .social__text {
            width: 100vw;
            text-align: center;
            margin-bottom: 2.5rem;
            &--dark {
                color: $whiteColor;
            }
        }

        .social__icon {
            width: 1.8rem;
            height: 1.8rem;
            margin: 0 1rem;
            background-size: cover;
            background-repeat: no-repeat;
            &:hover{
                cursor: pointer;
                // background-size: cover;
            }
            &:nth-child(2) {
                margin-left: 2rem;
            }
            &-facebook {
                width: 0.9rem;
                background-image: url(../svg/icon_facebook.svg);
                &:hover {
                    background-image: url(../svg/icon_facebook_hover.svg);
                }

                &--dark {
                    background-image: url(../svg/icon_facebook_noc.svg);
                }
            }
            &-twitter {
                background-image: url(../svg/icon-twitter.svg);
                &:hover {
                    background-image: url(../svg/icon-twitter-hover.svg);
                }

                &--dark {
                    background-image: url(../svg/icon_twitter_noc.svg);
                }
            }
            &-instagram {
                background-image: url(../svg/icon_instagram.svg);
                &:hover {
                    background-image: url(../svg/icon_instagram-hover.svg);
                }

                &--dark {
                    background-image: url(../svg/icon_instagram_noc.svg);
                }
            }
        }
    }

    .copyrights {
        width: 95vw;
        text-align: center;
        &--dark {
            color: $whiteColor;
        }
    }
}