header .navigation {
  width: 100vw;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 2rem;
  position: fixed;
  border-top: 5px solid #572EE5;
  background-color: #fff;
  z-index: 999;
}

header .navigation .navigation__logo {
  width: 4.8rem;
  height: 4.4rem;
  background-image: url(../svg/logo-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

header .navigation .navigation__button {
  width: 1.5rem;
  height: 1.4rem;
  background-image: url(../svg/burger.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 5rem;
  cursor: pointer;
}

header .navigation .navigation__button--expanded {
  background-image: url(../svg/close.svg);
}

header .navigation nav .navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 200vw;
  padding: 3rem 0;
  position: fixed;
  top: 10rem;
  left: 100vw;
  z-index: 999;
  background-color: #572EE5dd;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

header .navigation nav .navigation__menu--expanded {
  left: 0;
}

header .navigation nav .navigation__menu .navigation__menu-item {
  list-style: none;
}

header .navigation nav .navigation__menu .navigation__menu-item a {
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 3rem;
  font-weight: bold;
  color: #fff;
}

header .navigation nav .navigation__menu .navigation__menu-item a:active {
  color: #9CAFC3;
}

header .navigation nav .navigation__menu .navigation__separator {
  width: 4rem;
  margin: 1rem;
  border-top: 1px solid #FFFFFF;
  opacity: 0.5;
}

header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 11rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .search h1.search__title {
  padding: 4.5rem;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3.3rem;
  text-align: center;
  max-width: 55rem;
}

header .search h1.search__title span {
  color: #50E3C2;
}

header .search .search__image {
  margin: 0 4.5rem;
  min-width: 27.3rem;
  min-height: 13rem;
  background-image: url(../svg/ilustra_header.svg);
  background-size: cover;
}

header .search .search__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80vw;
  max-width: 55rem;
}

header .search .search__container .search__bar {
  width: 100%;
  height: 5rem;
  padding: 0 5.5rem;
  background: transparent;
  border: 1px solid #572EE5;
  border-radius: 27px;
  font-size: 1.6rem;
  font: 1.6rem 'Roboto';
}

header .search .search__container .search__bar::-webkit-input-placeholder {
  color: #9CAFC3;
}

header .search .search__container .search__bar:-ms-input-placeholder {
  color: #9CAFC3;
}

header .search .search__container .search__bar::-ms-input-placeholder {
  color: #9CAFC3;
}

header .search .search__container .search__bar::placeholder {
  color: #9CAFC3;
}

header .search .search__container .search__bar:focus {
  outline: none;
}

header .search .search__container .search__icon {
  width: 2rem;
  height: 2rem;
  margin-left: -2rem;
  position: relative;
  right: 2rem;
  top: 1.5rem;
  background-image: url(../svg/icon-search.svg);
  background-size: cover;
  cursor: pointer;
}

header .search .search__container .search__autocomplete {
  width: 80vw;
  max-width: 50rem;
  padding: 0 3rem;
  display: none;
  position: relative;
  top: -0.2rem;
  padding: 0 5.5rem 3rem 5.5rem;
  background-color: #fff;
  border: 1px solid #572EE5;
  border-top: 0;
  border-radius: 0 0 27px 27px;
  font-size: 1.6rem;
}

header .search .search__container .search__autocomplete .search__tag-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .search .search__container .search__autocomplete .search__tag-container .search__tag-icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1.5rem;
  background-image: url(../svg/icon-search-modo-noct.svg);
  background-size: cover;
}

header .search .search__container .search__autocomplete .search__tag-container .search__autocomplete-tag {
  color: #9CAFC3;
}

header .max__gifo-container {
  margin: 1rem;
}

header .max__gifo-container .max__close {
  display: none;
  width: 2rem;
  height: 2rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 10vw;
  margin-bottom: 3rem;
  background-image: url("../svg/close.svg");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  cursor: pointer;
}

header .max__gifo-container .max__img-overlay-container {
  width: 80vw;
  max-width: 20rem;
  height: 80vw;
  max-height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .max__gifo-container .max__img-overlay-container .max__img {
  width: 100%;
  height: 100%;
}

header .max__gifo-container .max__img-overlay-container .max__overlay {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80vw;
  max-width: 20rem;
  height: 80vw;
  max-height: 20rem;
  background-color: rgba(87, 46, 229, 0.7);
  position: absolute;
}

header .max__gifo-container .max__img-overlay-container .max__overlay .max__gifo-buttons-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 1rem;
  padding-right: 0.5rem;
}

header .max__gifo-container .max__img-overlay-container .max__overlay .max__gifo-buttons-container .max__gifo-button {
  width: 3.2rem;
  height: 3.2rem;
  margin: 0 0.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

header .max__gifo-container .max__img-overlay-container .max__overlay .max__gifo-buttons-container .max__gifo-button-favorite {
  background: url(../svg/icon-fav.svg);
}

header .max__gifo-container .max__img-overlay-container .max__overlay .max__gifo-buttons-container .max__gifo-button-favorite:hover {
  background: url(../svg/icon-fav-hover.svg);
}

header .max__gifo-container .max__img-overlay-container .max__overlay .max__gifo-buttons-container .max__gifo-button-favorite:active {
  max-width: 3.2rem;
  max-height: 3.2rem;
  background: url(../svg/icon-fav-active.svg);
  background-position: center;
  background-repeat: no-repeat;
}

header .max__gifo-container .max__img-overlay-container .max__overlay .max__gifo-buttons-container .max__gifo-button-favorite-saved {
  max-width: 3.2rem;
  max-height: 3.2rem;
  background: url(../svg/icon-fav-active.svg);
  background-position: center;
  background-repeat: no-repeat;
}

header .max__gifo-container .max__img-overlay-container .max__overlay .max__gifo-buttons-container .max__gifo-button-download {
  background: url(../svg/icon-download.svg);
}

header .max__gifo-container .max__img-overlay-container .max__overlay .max__gifo-buttons-container .max__gifo-button-download:hover {
  background: url(../svg/icon-download-hover.svg);
}

header .max__gifo-container .max__img-overlay-container .max__overlay .max__gifo-buttons-container .max__gifo-button-maximize {
  background: url(../svg/icon-max-normal.svg);
}

header .max__gifo-container .max__img-overlay-container .max__overlay .max__gifo-buttons-container .max__gifo-button-maximize:hover {
  background: url(../svg/icon-max-hover.svg);
}

header .max__gifo-container .max__img-overlay-container .max__overlay .max__gifo-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2rem;
  text-align: left;
}

header .max__gifo-container .max__img-overlay-container .max__overlay .max__gifo-text-container p {
  color: #000;
}

header .max__gifo-container .max__img-overlay-container .max__overlay .max__gifo-text-container p.max__gifo-owner {
  font-size: 1.5rem;
}

header .max__gifo-container .max__img-overlay-container .max__overlay .max__gifo-text-container p.max__gifo-title {
  font-size: 1.6rem;
  font-weight: 700;
}

header .max__gifo-container {
  display: none;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 9999;
}

header .max__gifo-container--maximized {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .max__gifo-container--maximized .max__next {
  width: 50px;
  height: 50px;
  background-color: aqua;
}

header .max__gifo-container--maximized .max__close {
  display: block;
}

header .max__gifo-container--maximized .max__img-overlay-container {
  max-width: unset;
  max-height: unset;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .max__gifo-container--maximized .max__img-overlay-container .max__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: unset;
  max-height: unset;
  height: unset;
  position: unset;
  background-color: unset;
}

header .max__gifo-container--maximized .max__img-overlay-container .max__overlay .max__gifo-buttons-container {
  width: unset;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  padding: 0;
}

header .max__gifo-container--maximized .max__img-overlay-container .max__overlay .max__gifo-buttons-container .max__gifo-button {
  margin: 0;
  margin-left: 1rem;
}

header .max__gifo-container--maximized .max__img-overlay-container .max__overlay .max__gifo-buttons-container .max__gifo-button-maximize {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  background: none;
}

header .max__gifo-container--maximized .max__img-overlay-container .max__overlay .max__gifo-text-container {
  height: 7rem;
  padding: unset;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 1024px) {
  header .navigation {
    padding: 0 15rem;
  }
  header .navigation .navigation__logo {
    width: 6.34rem;
    height: 6rem;
    background: url(../svg/logo-desktop.svg);
  }
  header .navigation .navigation__button {
    display: none;
  }
  header .navigation nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .navigation nav .navigation__menu {
    position: unset;
    left: unset;
    top: unset;
    width: unset;
    height: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    background: unset;
    -webkit-transition: unset;
    transition: unset;
  }
  header .navigation nav .navigation__menu .navigation__separator {
    display: none;
  }
  header .navigation nav .navigation__menu .navigation__menu-item {
    margin-left: 4rem;
  }
  header .navigation nav .navigation__menu .navigation__menu-item a {
    color: #572EE5;
    font-size: 1.3rem;
  }
  header .navigation nav .navigation__menu .navigation__menu-item a:hover {
    border-bottom: 2px solid #50E3C2;
  }
  header .navigation nav .navigation__new-button {
    width: 5.5rem;
    height: 5.5rem;
    margin-left: 4rem;
    background: url(../svg/button-crear-gifo.svg);
    background-repeat: no-repeat;
    cursor: pointer;
  }
  header .navigation nav .navigation__new-button:hover {
    background-image: url(../svg/CTA-crear-gifo-hover.svg);
  }
  header .navigation nav .navigation__new-button:active {
    background-image: url(../svg/CTA-crear-gifo-active.svg);
  }
  header .navigation nav .navigation__new-button--dark {
    background-image: url(../svg/CTA-crear-gifo-modo-noc.svg);
  }
  header .navigation nav .navigation__new-button--dark:hover {
    background-image: url(../svg/CTA-crear-gifo-hover-modo-noc.svg);
  }
  header .navigation nav .navigation__new-button--dark:active {
    background-image: url(../svg/CTA-crear-gifo-active-modo-noc.svg);
  }
  header .search h1.search__title {
    max-width: 70rem;
    font-size: 3.5rem;
    line-height: 5rem;
  }
}
/*# sourceMappingURL=header.css.map */