@import 'variables';

header {
    .navigation {
        display: flex;
        justify-content: space-between;
        padding: 1.6rem 15.6rem;
        border-top: 5px solid $purpleColor;

        .navigation__logo {
            width: 6.6rem;
            height: 6rem;
        }

        nav {
            max-height: 6rem;
            margin: auto 0 auto auto;
            padding: 2rem 0;

            .navigation__menu {
                display: flex;
                flex-wrap: nowrap;

                .navigation__menu-item {
                    list-style: none;
                    margin-right: 5rem;

                    &:hover {
                        border-bottom: 2px solid $greenColor;
                    }

                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: 1.3rem;
                        line-height: 2rem;
                        font-weight: bold;
                        color: $purpleColor;

                        &:active {
                            color: $greyColor;
                        }
                    }
                }
            }
        }

        .navigation__new-button {
            width: 6rem;
            height: 6rem;
            background: url(../svg/button-crear-gifo.svg);
            background-size: cover;

            &:hover {
                background: url(../svg/CTA-crear-gifo-hover.svg);
                background-size: cover;
                cursor: pointer;
            }

            &:active {
                background: url(../svg/CTA-crear-gifo-active.svg);
                background-size: cover;
            }
        }
    }

    .search {
        display: flex;
        flex-direction: column;
        padding: 8rem 0;
        align-items: center;

        h1.search__title {
            width: 60rem;
            font-size: 3.5rem;
            font-weight: bold;
            line-height: 5rem;
            text-align: center;

            span {
                color: $greenColor;
            }
        }

        .search__image {
            width: 40rem;
            height: 19rem;
            margin-top: 2.4rem;
            background: url(../svg/ilustra_header.svg);
            background-size: cover;
        }

        .search__container {
            width: 50rem;
            height: 5rem;

            .search__bar {
                width: 50rem;
                height: 5rem;
                padding: 0 5.5rem;
                border: 1px solid $purpleColor;
                border-radius: 27px;
                font-size: 1.6rem;

                &::placeholder {
                    font: 'Roboto'1.6rem $greyColor;
                }

                &:focus {
                    outline: none;
                }
            }

            .search__icon {
                width: 2rem;
                height: 2rem;
                position: relative;
                left: 45rem;
                bottom: 3.5rem;
                background: url(../svg/icon-search.svg);
                background-size: cover;
                cursor: pointer;
            }
        }

        .search__autocomplete {
            display: none;
            width: 50rem;
            position: absolute;
            top: 54rem;
            padding: 0 5.5rem;
            background-color: $whiteColor;
            border: 1px solid $purpleColor;
            border-radius: 0 0 27px 27px;

            .autocompleteTag {
                font-size: 1.6rem;
                color: $greyColor;
                margin-top: 1.5rem;
            }
        }
    }
}