@import 'variables';

header {
    .navigation {
        width: 100vw;
        height: 10rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 2rem;
        position: fixed;
        border-top: 5px solid $purpleColor;
        background-color: $whiteColor;
        z-index: 999;

        .navigation__logo {
            width: 4.8rem;
            height: 4.4rem;
            background-image: url(../svg/logo-mobile.svg);
            background-size: contain;

            &--dark {
                background-image: url(../svg/logo-mobile-modo-noct.svg);
            }
        }

        .navigation__button {
            width: 1.5rem;
            height: 1.4rem;
            background-image: url(../svg/burger.svg);
            background-size: contain;
            position: absolute;
            right: 5rem;

            &--expanded {
                background-image: url(../svg/close.svg);
            }

            &--dark {
                &--expanded {
                    background-image: url(../svg/close-modo-noct.svg);
                }
            }

            &--dark {
                background-image: url(../svg/burger-modo-noct.svg);
            }
        }

        nav {

            .navigation__menu {
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                width: 100vw;
                height: 200vw;
                padding: 3rem 0;
                position: fixed;
                top: 10rem;
                left: 100vw;
                z-index: 999;
                background-color: $purpleColor;
                transition: all 1s ease-in-out;

                &--expanded {
                    left: 0;
                }

                .navigation__menu-item {
                    list-style: none;

                    // &:hover {
                    //     border-bottom: 2px solid $greenColor;
                    // }

                    a {
                        text-decoration: none;
                        font-size: 1.5rem;
                        line-height: 3rem;
                        font-weight: bold;
                        color: $whiteColor;

                        &:active {
                            color: $greyColor;
                        }
                    }
                }

                &--dark {
                    .navigation__menu-item {
                        a {
                            color: $whiteColor;
                        }
                    }
                }

                .navigation__separator {
                    width: 4rem;
                    margin: 1rem;
                    border-top: 1px solid #FFFFFF;
                    opacity: 0.5;
                }

                &--dark {
                    background-color: $blackColor
                }
            }
        }

        // .navigation__new-button {
        //     width: 6rem;
        //     height: 6rem;
        //     background-image: url(../svg/button-crear-gifo.svg);
        //     background-size: cover;

        //     &:hover {
        //         background-image: url(../svg/CTA-crear-gifo-hover.svg);
        //         background-size: cover;
        //         cursor: pointer;
        //     }

        //     &:active {
        //         background-image: url(../svg/CTA-crear-gifo-active.svg);
        //         background-size: cover;
        //     }

        //     &--dark {
        //         background-image: url(../svg/CTA-crear-gifo-modo-noc.svg);
        //         background-size: cover;

        //         &:hover {
        //             background-image: url(../svg/CTA-crear-gifo-hover-modo-noc.svg);
        //             background-size: cover;
        //         }

        //         &:active {
        //             background-image: url(../svg/CTA-crear-gifo-active-modo-noc.svg);
        //             background-size: cover;
        //         }
        //     }
        // }

        &--dark {
            background-color: $darkModeSoft;
            border-top: 5px solid $blackColor;
        }
    }

    .search {
        display: flex;
        flex-direction: column;
        padding: 11rem 0;
        align-items: center;

        &--dark {
            background-color: $darkModeSoft;
        }

        h1.search__title {
            padding: 4.5rem;
            font-size: 2.5rem;
            font-weight: bold;
            line-height: 3.3rem;
            text-align: center;

            span {
                color: $greenColor;
            }

            &--dark {
                color: $whiteColor;
            }
        }

        .search__image {
            margin: 0 4.5rem;
            min-width: 27.3rem;
            min-height: 13rem;
            background-image: url(../svg/ilustra_header.svg);
            background-size: cover;
        }

        .search__container {
            .search__bar {
                width: 80vw;
                max-width: 50rem;
                height: 5rem;
                padding: 0 5.5rem;
                background: transparent;
                border: 1px solid $purpleColor;
                border-radius: 27px;
                font-size: 1.6rem;
                font: 1.6rem 'Roboto';

                &::placeholder {
                    color: $greyColor;
                }

                &:focus {
                    outline: none;
                }

                &--dark {
                    color: $whiteColor;
                    border-color: $whiteColor;
                }
            }

            .search__icon {
                width: 2rem;
                height: 2rem;
                position: absolute;
                right: 5rem;
                top: 44.5rem;
                background-image: url(../svg/icon-search.svg);
                background-size: cover;
                cursor: pointer;

                &--dark {
                    background-image: url(../svg/icon-search-mod-noc.svg);
                }
            }

            .search__autocomplete {
                width: 80vw;
                max-width: 50rem;
                height: 5rem;
                padding: 0 3rem;
                display: none;
                position: relative;
                top: -2.1rem;
                padding: 0 5.5rem 3rem 5.5rem;
                background-color: $whiteColor;
                border: 1px solid $purpleColor;
                border-top: 0;
                border-radius: 0 0 27px 27px;
                font-size: 1.6rem;
    
                .search__tag-container {
                    display: flex;
                    height: 3rem;
                    align-items: center;
    
                    .search__tag-icon {
                        width: 1.6rem;
                        height: 1.6rem;
                        margin-right: 1.5rem;
                        background-image: url(../svg/icon-search-modo-noct.svg);
                        background-size: cover;
                    }
        
                    .search__autocomplete-tag {
                        color: $greyColor;
                    }
                }
    
                &--dark {
                    background-color: $darkModeSoft;
                    border-color: $whiteColor;
                }
            }
        }
    }

    .gif-max {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: $whiteColor;
        position: fixed;
        top: 0;
        z-index: 1000;
        .close {
            width: 2rem;
            height: 2rem;
            align-self: flex-end;
            margin-right: 10vw;
            background-image: url('../svg/close.svg');
            background-size: contain;
            background-position: bottom;

            &--dark {
                background-image: url('../svg/close-modo-noct.svg');
            }
        }

        img {
            width: 80vw;
            height: 80vw;
            max-width: 50vh;
            max-height: 50vh;
            margin-top: 6rem;
        }

        .gif-max__overlay {
            display: flex;
            flex-flow: row-reverse nowrap;
            justify-content: space-between;
            align-items: center;
            width: 80vw;
            max-width: 50vh;
            height: 7rem;

            .gif-max__gifo-buttons-container {
                display: flex;

                .gif-max__gifo-button {
                    width: 3.2rem;
                    height: 3.2rem;
                    margin-left: 1rem;
                    background-size: cover;

                    &-favorite {
                        background: url(../svg/icon-fav.svg);

                        &:hover {
                            background: url(../svg/icon-fav-hover.svg);
                        }

                        &:active {
                            max-width: 3.2rem;
                            max-height: 3.2rem;
                            background: url(../svg/icon-fav-active.svg);
                            background-size: cover;
                            background-position: center;
                        }
                    }

                    &-download {
                        background: url(../svg/icon-download.svg);

                        &:hover {
                            background: url(../svg/icon-download-hover.svg);
                        }
                    }

                    &-maximize {
                        display: none;
                        background: url(../svg/icon-max-normal.svg);

                        &:hover {
                            background: url(../svg/icon-max-hover.svg);
                        }
                    }
                }
            }

            .gif-max__gifo-text-container {

                p {
                    color: $blackColor;

                    &.gif-max__gifo-owner {
                        font-size: 1.5rem;
                    }

                    &.gif-max__gifo-title {
                        font-size: 1.6rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 375px) {
    header .search .search__container .search__icon {
        right: 7rem;
    }
}

@media only screen and (min-width: 412px) {
    header .search .search__container .search__icon {
        right: 9rem;
        top: 41.3rem;
    }
}

@media only screen and (min-width: 600px) {
    header .search .search__container div.search__icon {
        right: 12rem;
    }
}

@media only screen and (min-width: 680px) {
    header .search .search__container div.search__icon {
        right: 15rem;
    }
}

@media only screen and (min-width: 741px) {
    header .search .search__container div.search__icon {
        position: relative;
        left: 45rem;
        top: -3.5rem;
    }
}