main {
  background-color: #F3F5F8;
  padding: 7rem 9rem 18rem 9rem;
  text-align: center;
}

main h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}

main p {
  font-size: 1.8rem;
}

main .trendingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

main .trendingContainer .arrow {
  width: 4rem;
  height: 4rem;
  background-size: cover;
}

main .trendingContainer .arrow:hover {
  cursor: pointer;
  background-size: cover;
}

main .trendingContainer .arrow.prev {
  background: url(../svg/button-slider-left.svg);
}

main .trendingContainer .arrow.prev:hover {
  background: url(../svg/button-slider-left-hover.svg);
}

main .trendingContainer .arrow.next {
  background: url(../svg/Button-Slider-right.svg);
}

main .trendingContainer .arrow.next:hover {
  background: url(../svg/button-slider-right-hover.svg);
}

main .trendingContainer .trendingGifosContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .trendingContainer .trendingGifosContainer .trendingGifo {
  width: 20vw;
  height: 20vw;
  margin: 0 1.5rem;
}

main .trendingContainer .trendingGifosContainer .trendingGifo .gifo {
  width: 20vw;
  height: 20vw;
}

main .trendingContainer .trendingGifosContainer .trendingGifo .gifoTrendingOverlay {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 20vw;
  background-color: rgba(87, 46, 229, 0.7);
  position: relative;
  bottom: 20.3vw;
}

main .trendingContainer .trendingGifosContainer .trendingGifo .gifoTrendingOverlay .buttonsContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 1rem;
  padding-right: 0.5rem;
}

main .trendingContainer .trendingGifosContainer .trendingGifo .gifoTrendingOverlay .buttonsContainer .gifoButton {
  width: 3.2rem;
  height: 3.2rem;
  margin: 0 0.5rem;
  background-size: cover;
}

main .trendingContainer .trendingGifosContainer .trendingGifo .gifoTrendingOverlay .buttonsContainer .gifoButton.favoriteBtn {
  background: url(../svg/icon-fav.svg);
}

main .trendingContainer .trendingGifosContainer .trendingGifo .gifoTrendingOverlay .buttonsContainer .gifoButton.favoriteBtn:hover {
  background: url(../svg/icon-fav-hover.svg);
}

main .trendingContainer .trendingGifosContainer .trendingGifo .gifoTrendingOverlay .buttonsContainer .gifoButton.favoriteBtn:active {
  max-width: 3.2rem;
  max-height: 3.2rem;
  background: url(../svg/icon-fav-active.svg);
  background-size: cover;
  background-position: center;
}

main .trendingContainer .trendingGifosContainer .trendingGifo .gifoTrendingOverlay .buttonsContainer .gifoButton.downloadBtn {
  background: url(../svg/icon-download.svg);
}

main .trendingContainer .trendingGifosContainer .trendingGifo .gifoTrendingOverlay .buttonsContainer .gifoButton.downloadBtn:hover {
  background: url(../svg/icon-download-hover.svg);
}

main .trendingContainer .trendingGifosContainer .trendingGifo .gifoTrendingOverlay .buttonsContainer .gifoButton.maximizeBtn {
  background: url(../svg/icon-max-normal.svg);
}

main .trendingContainer .trendingGifosContainer .trendingGifo .gifoTrendingOverlay .buttonsContainer .gifoButton.maximizeBtn:hover {
  background: url(../svg/icon-max-hover.svg);
}

main .trendingContainer .trendingGifosContainer .trendingGifo .gifoTrendingOverlay .gifoInfoText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8rem 2rem 2rem 2rem;
  text-align: start;
}

main .trendingContainer .trendingGifosContainer .trendingGifo .gifoTrendingOverlay .gifoInfoText p {
  color: #fff;
}

main .trendingContainer .trendingGifosContainer .trendingGifo .gifoTrendingOverlay .gifoInfoText p.trendingGifoOwner {
  font-size: 1.5rem;
}

main .trendingContainer .trendingGifosContainer .trendingGifo .gifoTrendingOverlay .gifoInfoText p.trendingGifoName {
  font-size: 1.6rem;
  font-weight: 700;
}
/*# sourceMappingURL=main.css.map */