main .results {
  text-align: center;
  padding-bottom: 9rem;
  min-height: 15rem;
}

main .results h2.results__title {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 2.5rem;
}

main .results h2.results__title--dark {
  color: #fff;
}

main .results h3.results__tags {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 2.5rem;
  margin: 0 7.5rem;
}

main .results h3.results__tags--dark {
  color: #fff;
}

main .results .results__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 15rem;
}

main .results .results__container .results__gifo-container {
  width: 15vw;
  min-width: 20rem;
  height: 15vw;
  min-height: 20rem;
  margin: 0.7rem 0.7rem;
}

main .results .results__container .results__gifo-container--max {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  padding: 6rem 0;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 9999;
}

main .results .results__container .results__gifo-container .results__close {
  display: none;
  width: 2rem;
  height: 2rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 10vw;
  background-image: url("../svg/close.svg");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

main .results .results__container .results__gifo-container .results__close--dark {
  background-image: url("../svg/close-modo-noct.svg");
}

main .results .results__container .results__gifo-container .results__close--max {
  display: block;
}

main .results .results__container .results__gifo-container .results__img {
  width: 15vw;
  min-width: 20rem;
  height: 15vw;
  min-height: 20rem;
}

main .results .results__container .results__gifo-container .results__img--max {
  width: 80vw;
  height: 80vw;
  max-width: 50vh;
  max-height: 50vh;
  margin-top: 6rem;
}

main .results .results__container .results__gifo-container .results__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 15vw;
  min-height: 20rem;
  background-color: rgba(87, 46, 229, 0.7);
  position: relative;
  bottom: 20.3rem;
}

main .results .results__container .results__gifo-container .results__overlay--max {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse nowrap;
          flex-flow: row-reverse nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  max-width: 50vh;
  height: 7rem;
  min-height: 7rem;
  min-width: unset;
  position: unset;
  bottom: unset;
  background-color: unset;
}

main .results .results__container .results__gifo-container .results__overlay .results__gifo-buttons-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 1rem;
  padding-right: 0.5rem;
}

main .results .results__container .results__gifo-container .results__overlay .results__gifo-buttons-container--max {
  width: unset;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  padding: 0;
}

main .results .results__container .results__gifo-container .results__overlay .results__gifo-buttons-container .results__gifo-button {
  width: 3.2rem;
  height: 3.2rem;
  margin: 0 0.5rem;
  background-size: cover;
  background-repeat: no-repeat;
}

main .results .results__container .results__gifo-container .results__overlay .results__gifo-buttons-container .results__gifo-button-favorite {
  background: url(../svg/icon-fav.svg);
}

main .results .results__container .results__gifo-container .results__overlay .results__gifo-buttons-container .results__gifo-button-favorite--max {
  margin: 0;
  margin-left: 1rem;
}

main .results .results__container .results__gifo-container .results__overlay .results__gifo-buttons-container .results__gifo-button-favorite:hover {
  background: url(../svg/icon-fav-hover.svg);
}

main .results .results__container .results__gifo-container .results__overlay .results__gifo-buttons-container .results__gifo-button-favorite:active {
  max-width: 3.2rem;
  max-height: 3.2rem;
  background: url(../svg/icon-fav-active.svg);
  background-size: cover;
  background-position: center;
}

main .results .results__container .results__gifo-container .results__overlay .results__gifo-buttons-container .results__gifo-button-download {
  background: url(../svg/icon-download.svg);
}

main .results .results__container .results__gifo-container .results__overlay .results__gifo-buttons-container .results__gifo-button-download--max {
  margin: 0;
  margin-left: 1rem;
}

main .results .results__container .results__gifo-container .results__overlay .results__gifo-buttons-container .results__gifo-button-download:hover {
  background: url(../svg/icon-download-hover.svg);
}

main .results .results__container .results__gifo-container .results__overlay .results__gifo-buttons-container .results__gifo-button-maximize {
  background: url(../svg/icon-max-normal.svg);
}

main .results .results__container .results__gifo-container .results__overlay .results__gifo-buttons-container .results__gifo-button-maximize--max {
  margin: 0;
  margin-left: 1rem;
}

main .results .results__container .results__gifo-container .results__overlay .results__gifo-buttons-container .results__gifo-button-maximize:hover {
  background: url(../svg/icon-max-hover.svg);
}

main .results .results__container .results__gifo-container .results__overlay .results__gifo-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8rem 2rem 2rem 2rem;
  text-align: start;
}

main .results .results__container .results__gifo-container .results__overlay .results__gifo-text-container--max {
  height: 7rem;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .results .results__container .results__gifo-container .results__overlay .results__gifo-text-container p {
  color: #000;
}

main .results .results__container .results__gifo-container .results__overlay .results__gifo-text-container p--max {
  color: #000;
}

main .results .results__container .results__gifo-container .results__overlay .results__gifo-text-container p.results__gifo-owner {
  font-size: 1.5rem;
}

main .results .results__container .results__gifo-container .results__overlay .results__gifo-text-container p.results__gifo-title {
  font-size: 1.6rem;
  font-weight: 700;
}

main .results--dark {
  background: #37383C;
}
/*# sourceMappingURL=results.css.map */