@import 'variables';

main {
    .results {
        text-align: center;

        h2.results__title {
            margin-top: 7rem;
            font-size: 1.8rem;
            font-weight: bold;
            line-height: 2.5rem;
        }

        h3.results__tags {
            font-size: 1.6rem;
            font-weight: normal;
            line-height: 2.5rem;
        }

        .results__container {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            padding: 0 15rem;

            .results__gifo-container {
                width: 15vw;
                height: 15vw;
                margin: 0.7rem 0.7rem;

                .results__img {
                    width: 15vw;
                    height: 15vw;
                }

                .results__overlay {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    height: 15vw;
                    background-color: rgba($color: $purpleColor, $alpha: 0.7);
                    position: relative;
                    bottom: 15.3vw;

                    .results__gifo-buttons-container {
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        padding-top: 1rem;
                        padding-right: 0.5rem;

                        .results__gifo-button {
                            width: 3.2rem;
                            height: 3.2rem;
                            margin: 0 0.5rem;
                            background-size: cover;

                            &-favorite {
                                background: url(../svg/icon-fav.svg);

                                &:hover {
                                    background: url(../svg/icon-fav-hover.svg);
                                }

                                &:active {
                                    max-width: 3.2rem;
                                    max-height: 3.2rem;
                                    background: url(../svg/icon-fav-active.svg);
                                    background-size: cover;
                                    background-position: center;
                                }
                            }

                            &-download {
                                background: url(../svg/icon-download.svg);

                                &:hover {
                                    background: url(../svg/icon-download-hover.svg);
                                }
                            }

                            &-maximize {
                                background: url(../svg/icon-max-normal.svg);

                                &:hover {
                                    background: url(../svg/icon-max-hover.svg);
                                }
                            }
                        }
                    }

                    .results__gifo-text-container {
                        display: flex;
                        flex-direction: column;
                        padding: 8rem 2rem 2rem 2rem;
                        text-align: start;

                        p {
                            color: $whiteColor;

                            &.results__gifo-owner {
                                font-size: 1.5rem;
                            }

                            &.results__gifo-title {
                                font-size: 1.6rem;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
}