@import 'variables', 'mixins';

main {
    .results {
        text-align: center;
        padding-bottom: 9rem;
        min-height: 15rem;
        h2.results__title {
            font-size: 1.6rem;
            font-weight: bold;
            line-height: 2.5rem;

            &--dark {
                color: $whiteColor
            }
        }

        h3.results__tags {
            font-size: 1.4rem;
            font-weight: normal;
            line-height: 2.5rem;
            margin: 0 7.5rem;

            &--dark {
                color: $whiteColor
            }
        }

        .results__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            padding: 0 15rem;

            @include gifo(results);
        }

        &--dark {
            background: $darkModeSoft;
        }
    }
}