@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  color: #572EE5;
}

p {
  font-family: 'Roboto';
  color: #000;
}

a:hover {
  -webkit-text-decoration: 2px underline #50E3C2;
          text-decoration: 2px underline #50E3C2;
}

a:active {
  color: #9CAFC3;
}

header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.6rem 15.6rem;
  border-top: 5px solid #572EE5;
}

header .navigation .navigation__logo {
  width: 6.6rem;
  height: 6rem;
  background-image: url(../svg/logo-desktop.svg);
  background-size: cover;
}

header .navigation .navigation__logo--dark {
  background-image: url(../svg/Logo-modo-noc.svg);
}

header .navigation nav {
  max-height: 6rem;
  margin: auto 0 auto auto;
  padding: 2rem 0;
}

header .navigation nav .navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header .navigation nav .navigation__menu .navigation__menu-item {
  list-style: none;
  margin-right: 5rem;
}

header .navigation nav .navigation__menu .navigation__menu-item:hover {
  border-bottom: 2px solid #50E3C2;
}

header .navigation nav .navigation__menu .navigation__menu-item a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: bold;
  color: #572EE5;
}

header .navigation nav .navigation__menu .navigation__menu-item a:active {
  color: #9CAFC3;
}

header .navigation .navigation__new-button {
  width: 6rem;
  height: 6rem;
  background: url(../svg/button-crear-gifo.svg);
  background-size: cover;
}

header .navigation .navigation__new-button:hover {
  background: url(../svg/CTA-crear-gifo-hover.svg);
  background-size: cover;
  cursor: pointer;
}

header .navigation .navigation__new-button:active {
  background: url(../svg/CTA-crear-gifo-active.svg);
  background-size: cover;
}

header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .search h1.search__title {
  width: 60rem;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 5rem;
  text-align: center;
}

header .search h1.search__title span {
  color: #50E3C2;
}

header .search .search__image {
  width: 40rem;
  height: 19rem;
  margin-top: 2.4rem;
  background: url(../svg/ilustra_header.svg);
  background-size: cover;
}

header .search .search__container {
  width: 50rem;
  height: 5rem;
}

header .search .search__container .search__bar {
  width: 50rem;
  height: 5rem;
  padding: 0 5.5rem;
  border: 1px solid #572EE5;
  border-radius: 27px;
  font-size: 1.6rem;
}

header .search .search__container .search__bar::-webkit-input-placeholder {
  font: "Roboto" 1.6rem #9CAFC3;
}

header .search .search__container .search__bar:-ms-input-placeholder {
  font: "Roboto" 1.6rem #9CAFC3;
}

header .search .search__container .search__bar::-ms-input-placeholder {
  font: "Roboto" 1.6rem #9CAFC3;
}

header .search .search__container .search__bar::placeholder {
  font: "Roboto" 1.6rem #9CAFC3;
}

header .search .search__container .search__bar:focus {
  outline: none;
}

header .search .search__container .search__icon {
  width: 2rem;
  height: 2rem;
  position: relative;
  left: 45rem;
  bottom: 3.5rem;
  background: url(../svg/icon-search.svg);
  background-size: cover;
  cursor: pointer;
}

header .search .search__autocomplete {
  display: none;
  width: 50rem;
  position: absolute;
  top: 54rem;
  padding: 0 5.5rem;
  background-color: #fff;
  border: 1px solid #572EE5;
  border-top: 0;
  border-radius: 0 0 27px 27px;
}

header .search .search__autocomplete .autocompleteTag {
  font-size: 1.6rem;
  color: #9CAFC3;
  margin-top: 1.5rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem 15rem;
  font-size: 1.3rem;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .social .social__icon {
  width: 1.8rem;
  height: 1.8rem;
  margin: 0 1rem;
  background-size: cover;
}

footer .social .social__icon:hover {
  cursor: pointer;
  background-size: cover;
}

footer .social .social__icon:nth-child(2) {
  margin-left: 2rem;
}

footer .social .social__icon-facebook {
  width: 0.9rem;
  background: url(../svg/icon_facebook.svg);
}

footer .social .social__icon-facebook:hover {
  background: url(../svg/icon_facebook_hover.svg);
}

footer .social .social__icon-twitter {
  background: url(../svg/icon-twitter.svg);
}

footer .social .social__icon-twitter:hover {
  background: url(../svg/icon-twitter-hover.svg);
}

footer .social .social__icon-instagram {
  background: url(../svg/icon_instagram.svg);
}

footer .social .social__icon-instagram:hover {
  background: url(../svg/icon_instagram-hover.svg);
}
/*# sourceMappingURL=styles.css.map */