@import 'variables', 'mixins';

main {
    .trending {
        background-color: $softGreyColor;
        text-align: center;

        h2.trending__title {
            padding: 0 20vw;
            font-size: 2rem;
            line-height: 3rem;

            &--dark {
                color: $whiteColor;
            }
        }

        .trending__text {
            padding: 0 20vw;
            font-size: 1.6rem;
            line-height: 2.3rem;
            
            &--dark {
                color: $whiteColor;
            }
        }

        .trending__container {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            margin-top: 5rem;
            overflow-x: scroll;

            .trending__arrow {
                display: none;
                width: 4rem;
                height: 4rem;
                background-size: cover;
                background-repeat: no-repeat;

                &:hover {
                    cursor: pointer;
                    background-size: cover;
                }

                &-left {
                    background-image: url(../svg/button-slider-left.svg);

                    &:hover {
                        background-image: url(../svg/button-slider-left-hover.svg);
                    }
                }

                &-right {
                    background-image: url(../svg/Button-Slider-right.svg);

                    &:hover {
                        background-image: url(../svg/button-slider-right-hover.svg);
                    }
                }
            }

            @include gifo (trending);
        }

        &--dark {
            background: $darkModeHard;
        }
    }
}